


/**
* Base Styles
**/

:root {
  --myorange: rgb(209, 144, 24);
  --color-text: orange;
  --color-bg: #F0EBE3;
  --color-bg-accent: #F0EBE3;
  --size: clamp(10rem, 1rem + 20vmin, 10rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: orange;
    --color-bg: #f0ebe3;
    --color-bg-accent: #F0EBE3;
  }
}



/* MISC extras */

/* nav bar frosting */
.frosting {
  background-color: rgba(255, 255, 255, 0.6); /* Transparent background */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.greyscale {
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
}



